@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MFZhuoYingNoncommercial';
  src: url('/fonts/MFZhuoYing-Noncommercial-Regular-2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HYQiHei';
  src: url('/fonts/HYQiHei-55S.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
    html {
        scroll-behavior: auto;
    }

    body {
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}